{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

    <h2>Current day: {{game.current_day}}</h2>
    <h2>Credit:</h2>

    <h3>Activities finished:</h3>
    {% for a in finished %}
        <h4>{{a}}</h4>
    {% endfor %}

    <h3>Activities in progress:</h3>
    {% for a in in_progres %}
        <h4>{{a}}</h4>
    {% endfor %}

    <h3>Activities to be started:</h3>
    {% for a in started %}
        <h4>{{a}}</h4>
    {% endfor %}

    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}
