{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    {% for team in teams %}
        <h4><a href="/teams/{{team.id}}">Team: {{team.display_name}} (id: {{team.id}})</a></h4>
        Players:
        {% for user in team.users %}
            <a href="/users/{{user.id}}">{{user.username}}</a>,
        {% endfor %}
    {% endfor %}
    <hr>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <a href="/" type="button" class="btn btn-light">Back</a>

{% endblock %}
