{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

    {% set team_id = team.id %}

   <h2>Team: {{team.display_name}} (id: {{team.id}})</h2>
    {% for user in team.users %}
        <p><a href="/users/{{user.id}}">{{user.username}}</a></p>
    {% endfor %}
    <hr>

    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <a href="/teams" type="button" class="btn btn-light">Back</a>

{% endblock %}
